<main class="main">
   {{#if @customHTML.beforePost}}
      <div class="banner">
         <div class="main__inner">
            {{{@customHTML.beforePost}}}
         </div>
      </div>
   {{/if}}
   {{#getPost @config.custom.frontPost}}
      <article class="post">

         {{#featuredImage}}
            {{#if url}}
               <figure class="post__featured-image post__featured-image--attop">
                  <img
                     src="{{url}}"
                     {{#if @config.site.responsiveImages}}
                        {{responsiveImageAttributes 'featuredImage' srcset.post sizes.post}}
                     {{/if}}
                     {{ lazyload "eager" }}
                     height="{{height}}"
                     width="{{width}}"
                     alt="{{alt}}"
                     aria-describedby="image-caption">
               </figure>
            {{/if}}
         {{/featuredImage}}

         {{#checkIf @config.post.displayMainTag '&&' mainTag}}
            <div class="post__meta post__meta--attop">
               <div class="post__meta--attop__inner">
         {{else}}
            {{#checkIfAny featuredImage.caption featuredImage.credits}}
               <div class="post__meta post__meta--attop">
                  <div class="post__meta--attop__inner">
            {{/checkIfAny}}
         {{/checkIf}}
            {{#if postViewConfig.displayMainTag}}
               {{#if mainTag}}
                  <div class="post__maintag">
                     <svg width="20" height="20" aria-hidden="true" focusable="false">
                        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#tag" />
                     </svg>
                     {{ translate 'post.publishedIn' }} <a href="{{mainTag.url}}" class="metadata__maintag">{{mainTag.name}}</a>
                  </div>
               {{/if}}
            {{/if}}

            {{#featuredImage}}
               {{#if url}}
                  {{#checkIfAny caption credits}}
                     <div id="image-caption" class="post__featured-image__caption">
                        <svg width="20" height="20" aria-hidden="true" focusable="false">
                           <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#image" />
                        </svg>
                           {{caption}}
                           {{credits}}
                     </div>
                  {{/checkIfAny}}
               {{/if}}
            {{/featuredImage}}
         {{#checkIf @config.post.displayMainTag '&&' mainTag}}
               </div>
            </div>
         {{else}}
            {{#checkIfAny featuredImage.caption featuredImage.credits}}
                  </div>
               </div>
            {{/checkIfAny}}
         {{/checkIf}}

         <div class="main__inner">

            {{#checkIfAny postViewConfig.displayAuthor postViewConfig.displayDate}}
               <div class="post__meta">
                  
                  {{#if postViewConfig.displayAuthor}}
                     <div class="post__author">
                        {{#author}}
                           {{#if avatar}}
                              <img
                                 src="{{avatarImage.url}}" 
                                 {{ lazyload "lazy" }}
                                 height="{{avatarImage.height}}"
                                 width="{{avatarImage.width}}" 
                                 alt="{{avatarImage.alt}}" 
                                 class="post__author__avatar">
                           {{/if}}
                           <div>
                              <a href="{{url}}" class="post__author__name">{{name}}</a>
                              {{#if authorViewConfig.displayShortDescription}}
                                 <p>{{authorViewConfig.displayShortDescription}}</p>
                              {{/if}}
                           </div>
                        {{/author}}
                     </div>
                  {{/if}}

                  {{#if postViewConfig.displayDate}}
                     <div class="post__date">
                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date createdAt @config.custom.formatDate}}
                           {{else}}
                              {{date createdAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     </div>
                  {{/if}}

               </div>
            {{/checkIfAny}}
             
            <header class="post__header">
               <h1 class="post__title">{{title}}</h1>
               {{#if postViewConfig.displayPostLead}}
                  <p class="post__lead">{{postViewConfig.displayPostLead}}</p>
               {{/if}}
            </header>

            <div class="post__entry">
               {{{text}}}
            </div>     

            {{#checkIfAny postViewConfig.displayUpdatedDate postViewConfig.displayShareButtons}}
               <footer class="post__footer">

                  {{#if postViewConfig.displayUpdatedDate}}
                     <div class="post__last-updated">
                        {{ translate 'post.lastUpdatedDate' }}
                        <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                           {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                              {{date modifiedAt @config.custom.formatDate}}
                           {{else}}
                              {{date modifiedAt @config.custom.formatDateCustom}}
                           {{/checkIf}}
                        </time>
                     </div>
                  {{/if}}

                  {{#if postViewConfig.displayShareButtons}}
                     {{#checkIfAll @plugins.socialSharing @plugins.socialSharing.state}}
                        <div class="post__share">
                           {{{@customSocialSharing}}}
                        </div>
                     {{else}}
                        <div class="post__share">
                           {{> share-buttons}}
                        </div>
                     {{/checkIfAll}}          
                  {{/if}}

               </footer>
            {{/checkIfAny}}

         </div>
      </article>
   {{/getPost}}

   {{#if @customHTML.afterPost}}
      <div class="post__section banner">
         <div class="main__inner">
            {{{@customHTML.afterPost}}}
         </div>
      </div>
   {{/if}}
</main>